<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javamaster.b2c.core.mapper.ManualSecurityMapper">
    <resultMap id="authUserResultMap" type="org.javamaster.b2c.core.model.AuthUser">
        <id column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <collection property="authorities" resultMap="sysAuthorityResultMap"/>
    </resultMap>
    <resultMap id="sysAuthorityResultMap" type="org.javamaster.b2c.core.model.AuthAuthority">
        <id column="authority_code" jdbcType="VARCHAR" property="authorityCode"/>
        <result column="authority_name" jdbcType="VARCHAR" property="authorityName"/>
    </resultMap>
    <select id="selectUser" resultMap="authUserResultMap">
        select su.username, su.password, su.enabled, sa.authority_code, sa.authority_name
        from sys_user su
                 inner join sys_group_user sgu on sgu.username = su.username
                 inner join sys_group_authority sga on sga.group_code = sgu.group_code
                 inner join sys_authority sa on sa.authority_code = sga.authority_code
        where su.username = #{username}
    </select>
    <delete id="deleteByUsername" parameterType="java.lang.String">
        delete
        from sys_remember_me
        where username = #{username,jdbcType=VARCHAR}
    </delete>
</mapper>