<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <jmxConfigurator/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="app"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/@project.artifactId@.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/@project.artifactId@.%d{yyyy-MM-dd-HH}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="mybatis"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/@project.artifactId@-mybatis.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/@project.artifactId@-mybatis.%d{yyyy-MM-dd-HH}.%i.log</FileNamePattern>
            <maxFileSize>128MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="app"/>
    </root>
    <logger name="org.javamaster.b2c.core" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="app"/>
    </logger>
    <logger name="org.javamaster.b2c.core.mapper" level="DEBUG" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="mybatis"/>
    </logger>
</configuration>